[Unit]
Description=Coinmarketcap data scrapping
After=prometheus.target

[Service]
Type=idle
Restart=on-failure
User=pierre
EnvironmentFile=/etc/environment.d/50-coinmarketcap.conf
ExecStart=/bin/bash -c 'cd /home/pierre/scrapers/src/coinmarketcap-exporter && source ./venv/bin/activate && python3 coinmarketcap.py'

[Install]
WantedBy=multi-user.target