[Unit]
Description=Victoria vmagent
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=1
User=_victoria-metrics
Environment=
ExecStart=/usr/bin/vmagent -promscrape.config=/etc/prometheus/prometheus.yml -remoteWrite.url=http://192.168.1.32:8428/api/v1/write -promscrape.config.strictParse=false -remoteWrite.tmpDataPath=/var/lib/victoria-metrics/vmagent/vmagent-remotewrite-data

[Install]
WantedBy=multi-user.target